<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 명은 dao 와 일치하게 작성하면 됨 -->
<mapper namespace="com.aiear.dao.BizDAO">

	<!-- 통계/raw 저장 대상 변수 목록 조회 -->
	<select id="getStatVarInfoList" parameterType="hmap" resultType="hmap">
		select var_id, stats_save_yn, raw_save_yn, recent_keep_yn, change_save_yn
		from t_var_info
		where use_yn = 'Y'
	</select>
	
</mapper>