<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 명은 dao 와 일치하게 작성하면 됨 -->
<mapper namespace="com.aiear.dao.HospitalMngDAO">

	<!-- 병원 정보 리스트 조회 -->
	<select id="getHospitalList" parameterType="hospitalInfoVO" resultType="hmap">
		<![CDATA[
		SELECT t1.hospital_nm
			 , t1.hospital_id
			 , t1.hospital_img
			 , t1.hospital_addr
			 , t4.cd AS dow
			 , t5.c_strt_tm
			 , t5.c_end_tm
			 , CASE WHEN t5.c_strt_tm != '' and t5.c_end_tm IS NOT NULL AND t5.clinic_yn = 'Y'
			 		THEN CASE WHEN CURRENT_TIME > CONCAT(t5.c_strt_tm, ':00')::timetz and CURRENT_TIME < CONCAT(t5.c_end_tm, ':00')::timetz
						 	  THEN CASE WHEN CURRENT_TIME > CONCAT(t5.l_strt_tm, ':00')::timetz and CURRENT_TIME < CONCAT(t5.l_end_tm, ':00')::timetz  AND t5.lunch_yn = 'Y'
							 			THEN 'REST'
							 			ELSE 'RUN'
							 			END
						 	  ELSE 'RUN'
						 	  END
					ELSE 'IDLE'
			 		END AS hospital_flag
			 , CASE WHEN t5.c_strt_tm != '' and t5.c_end_tm IS NOT NULL AND t5.clinic_yn = 'Y'
			 		THEN CASE WHEN CURRENT_TIME > CONCAT(t5.c_strt_tm, ':00')::timetz and CURRENT_TIME < CONCAT(t5.c_end_tm, ':00')::timetz
						 	  THEN CASE WHEN CURRENT_TIME > CONCAT(t5.l_strt_tm, ':00')::timetz and CURRENT_TIME < CONCAT(t5.l_end_tm, ':00')::timetz AND t5.lunch_yn = 'Y'
							 			THEN '휴계 중'
							 			ELSE '진료 중'
							 			END
						 	  ELSE '진료 중'
						 	  END
					ELSE '휴무일'
			 		END AS hospital_flag_nm
		  FROM t_hospital_info t1
	INNER JOIN t_cm_cd t2
			ON t1.use_yn = t2.cd
		   AND t2.cat_cd = 'HOSPITAL_USE_YN'
	INNER JOIN t_cm_cd t3
			ON t1.new_yn = t3.cd
		   AND t3.cat_cd = 'HOSPITAL_NEW_YN'
	CROSS JOIN (SELECT a1.cd
				  FROM t_cm_cd a1
				 WHERE a1.cat_cd = 'DOW'
				   AND a1.disp_ord = EXTRACT(ISODOW FROM CAST(now() AS DATE))) t4
	LEFT OUTER JOIN t_hospital_clinic_mapp t5
			ON t1.hospital_id = t5.hospital_id
		   AND t4.cd = t5.day_of_week
		 WHERE 1=1
		   AND t1.use_yn = 'Y'
		]]>
		<if test='hospital_addr != null and !"".equals(hospital_addr)'>
		   AND t1.hospital_addr ILIKE CONCAT('%', #{hospital_addr}, '%')
		</if>
		<choose>
			<when test='order_type != null and !"".equals(order_type) and order_type2 != null and !"".equals(order_type2)'>
		 ORDER BY t1.${order_type} ${order_type2}
			</when>
			<otherwise>
		 ORDER BY t1.GEN_DT DESC
			</otherwise>
		</choose>
		<if test='raw_cnt != null and !"".equals(raw_cnt) and page_cnt != null and !"".equals(page_cnt)'>
		 LIMIT ${raw_cnt}
		OFFSET (${page_cnt} - 1) * ${raw_cnt}
		</if>
	</select>
	
	
	<!-- 병원 정보 상세 조회 -->
	<select id="getHospitalDetail" parameterType="hospitalInfoVO" resultType="hmap">
		<![CDATA[
		SELECT t1.hospital_nm
			 , t1.hospital_type
			 , t1.hospital_tel_no
			 , t1.mgr_tel_no
			 , t1.hospital_addr
			 , t1.hospital_img
			 , t5.c_strt_tm
			 , t5.c_end_tm
			 , CASE WHEN t5.c_strt_tm != '' and t5.c_end_tm IS NOT NULL
			 		THEN CASE WHEN CURRENT_TIME > CONCAT(t5.c_strt_tm, ':00')::timetz and CURRENT_TIME < CONCAT(t5.c_end_tm, ':00')::timetz
						 	  THEN CASE WHEN CURRENT_TIME > CONCAT(t5.l_strt_tm, ':00')::timetz and CURRENT_TIME < CONCAT(t5.l_end_tm, ':00')::timetz
							 			THEN '휴계 중'
							 			ELSE '진료 중'
							 			END
						 	  ELSE '진료 중'
						 	  END
					ELSE '휴무일'
			 		END AS hospital_flag_nm
		  FROM t_hospital_info t1
	INNER JOIN t_cm_cd t2
			ON t1.use_yn = t2.cd
		   AND t2.cat_cd = 'HOSPITAL_USE_YN'
	INNER JOIN t_cm_cd t3
			ON t1.new_yn = t3.cd
		   AND t3.cat_cd = 'HOSPITAL_NEW_YN'
	CROSS JOIN (SELECT a1.cd
				  FROM t_cm_cd a1
				 WHERE a1.cat_cd = 'DOW'
				   AND a1.disp_ord = EXTRACT(ISODOW FROM CAST(now() AS DATE))) t4
	LEFT OUTER JOIN t_hospital_clinic_mapp t5
			ON t1.hospital_id = t5.hospital_id
		   AND t4.cd = t5.day_of_week
		]]>
		 WHERE 1=1
		   AND t1.use_yn = 'Y'
		   AND t1.hospital_id = #{hospital_id}
	</select>

	
	<!-- 병원 진료시간 조회 -->
	<select id="getHospitalClinicList" parameterType="hospitalInfoVO" resultType="hmap">
		SELECT t1.hospital_id 
			 , t1.day_of_week 
			 , t2.cd_val AS day_of_week_nm
			 , t1.clinic_yn
			 , t1.c_strt_tm 
			 , t1.c_end_tm 
			 , t1.lunch_yn 
			 , t1.l_strt_tm 
			 , t1.l_end_tm 
		  FROM t_hospital_clinic_mapp t1
	INNER JOIN t_cm_cd t2
			ON t1.day_of_week = t2.cd 
		   AND t2.cat_cd = 'DOW'
		 WHERE 1=1
		   AND hospital_id = #{hospital_id}
		 ORDER BY t2.disp_ord
	</select>
	
</mapper>
